@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.container-top{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    padding: 50px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 35px;
    }
    &__list-link{
        color: $title;
        text-transform: capitalize;
        @extend %rubik-500;
    }
}

.user-nav{
    position: relative;
    display: flex;
    align-items: center;
    &::after{
        content:' ';
        position: absolute;
        background-color: #edf1f4;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        z-index: -10;
        left: -17px;
        margin-right: 50px;
    }
    &__cart{
        display: flex;
        background-color: #fcd7b6;
        width: 180px;
        height: 50px;
        border-radius: 30px;
    }
    &__link{
        position: relative;
    }
    &__link:nth-child(1){
        margin-right:40px ;
    }
    &__cart::before{
        content:' ';
        width: 2px;
        height: 33px;
        background-color: #fde7d3;
        position: absolute;
        left: 142px;
        top: 8px;

    }
    &__link{
        margin: 0 auto;
    }
    &__num{
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: #fff;
        border-radius: 50%;
        top: 8px;
        left: 12px;
        text-align: center;
        font-size: 10px;
        line-height: 16px;
    }
    &__link-btn{
        background-color: #a3bbc8;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 30px;
    }
    &__link-img{
        margin: 15px auto;
    }
}


.footer-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dae4e9;
    padding: 25px 0 70px;
    &__contact{
        max-width: 190px;
        color:$default;
    }
    &__services{
        max-width: 220px;
    }
    &__logo{
        display: block;
        margin-bottom: 25px;
    }
    &__title{
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 21px;
        color: #1f2044;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    &__link{
        text-transform: capitalize;
        color: $default;
        
    }
    &__item-form{
        max-width: 285px;
        line-height: 24px;
    }
    &__text{
        margin-bottom: 40px;
    }
    &__form-input{
        border: none;
        background-color: #fef7f0;
        padding: 5px 5px;
    &::placeholder{
        color: #5d778d;
        @extend %dmsans-400;
        font-size: 12px;
        line-height: 24px;
        padding-left: 15px;
        text-transform: capitalize;
        }
    }
    &__form-btn{
        background-color:$accent;
        color: #fff;
        border: none;
        text-transform: capitalize;
        @extend %dmsans-400;
        font-size: 12px;
        line-height: 24px;
        width: 100px;
        padding: 5px 0;
    }
}
.footer-bottom{
    display:flex;
    padding-top: 30px;
    justify-content: space-between;
    &__link{
        position: relative;
        color: $default;
        text-transform: capitalize;
        margin: 0 15px;
    }
    &__link::after{
        position: absolute;
        content:'|';
        pointer-events: none;
        right: -20px;
        
    }
}

.top-slider{
    .container-top{
        background-color: #fcd7b6;
    }
    &__item{
        padding-top: 80px;
        display: flex !important;
        justify-content: space-between;
    }
    &__content{
        padding-top: 125px;
        padding-left: 280px;
    }
    &__title{
        @extend %rubik-500;
        font-size: 72px;
        line-height: 70px;
        text-transform: uppercase;
        color: #243f4d;
        padding-bottom: 20px;
        max-width: 450px;
    }
    &__text{
        @extend %rubik-400;
        font-size: 18px;
        line-height: 30px;
        color: #747e81;
        max-width: 380px;
        margin-bottom: 50px;
    }
    &__link{
        text-transform: capitalize;
        color: #fff;
        background-color: $accent;
        font-size: 15px;
        line-height: 12px;
        padding: 15px 100px 15px 22px;
        position: relative;
    }
    &__link::after{
        content: '';
        position: absolute;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 5px solid #fff;
        left: 170px;
        top: 21px;
        
    }
    &__link::before{
        content:' ';
        position: absolute;
        border: none;
        height: 2px;
        width: 17px;
        left: 154px;
        top: 24px;
        background-color: #fff; 
    }
    .slick-slide img{
        margin-right: 170px;
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        padding-bottom: 45px;
    li{
        padding: 0 5px;
        line-height: 8px;
        font-size: 10px;
        @extend %rubik-400;
        color: #243f4d;

        button{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: #fde3cc;
        }
        &.slick-active{
            button{
            background-color: #fff;
            }
        }
    }
    }
}
.categories-info{
    .container-top{
        background-color: #fef7f0;
    }

.info{
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    &__items{
        display: flex;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    &__items:nth-child(1){
        padding-left: 140px;
    }
    
    &__items:nth-child(2){
        padding-left: 160px;
        border-left: 1px solid #e8e4df;
        border-right: 1px solid #e8e4df;
    }
    &__items:nth-child(3){
        padding-left: 150px;
    }
    &__item-title{
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 40px;
        color: #414141;
        text-transform: capitalize;
    }
    &__item-text{
        @extend %dmsans-400;
        font-size: 16px;
        line-height: 30px;
        color: #676665;
    }
    }
    
}

.products{
    margin-top: 70px;
    .products-top{
        text-align: center;
        padding-bottom: 75px;
        &__title{
            @extend %dmsans-700;
            font-size: 36px;
            line-height: 40px;
            color: $title-content;
        }
        &__items{
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }
        &__item{
            margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
        }
        &__link{
            @extend %dmsans-700;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
            color: $link;
            transition:  all .3s;
            
        &:hover{
            color: #1a1a1a;
        }
        }

    }
}
    .products-content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 20px;
        &.product-list{
            padding-left: 30px;
            grid-template-columns: repeat(3, 1fr);
        }
        &.products-content--list{
            display: block;
            .products-content__items{
                display: flex;
                flex-direction: inherit;
                max-width: 100%;
                min-height: 500px;
                box-shadow: none;
                border-radius: none;
                margin-bottom: 40px;
            }
            .products-content__img-box{
                border: 3px solid #f2f2f2;
                width: 367px;
                height: 500px;
                padding: 50px 30px 60px;

            }
            .products-content__images{
                display: block;
                    object-fit: contain;
                    width: 315px;
                    height: 260px;
            }
            .products-content__link-box{
                display: none;
            }
            .products-content__item-box{
                padding-top: 90px;
                padding-left: 55px;
                display: flex;
                flex-direction: column;
            }
            .products-content__title{
                @extend %rubik-400;
                font-size: 40px;
                line-height: 27px;
                color: #333;
                text-align: left;
            }
            .products-content__star{
                display: block;
                padding: 25px 0;
            }
            .products-content__price--list{
                display: block;
                @extend %rubik-400;
                font-size: 30px;
                line-height: 45px;
                color: #333;
                text-align: left;
            }
            .products-content__price{
                display: none;
            }
            .products-content__text{
                display: block;
                font-size: 16px;
                line-height: 30px;
                color: #243f4d;
                width: 420px;
                text-align: left;
                padding: 20px 0 30px;
            }
            .products-content__link--list{
                display: block;
                width: 206px;
                background-color: #a3bbc8;
                color: #fff;
                border-radius: 10px;
                text-transform: uppercase;
                @extend %rubik-400;
                font-size: 15px;
                line-height: 30px;
                padding: 8px 0;
            }
            .products-content__link-cart{
                display: flex;
                margin-top: 10px;
                
            }
            .products-content__link--list-cart,
            .products-content__link--list-heart{
                border: none;
                padding: 15px 15px 7px;
                text-align: center;
                cursor: pointer;
                margin-right: 10px;
                background-color: #fff;
                box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
            }
            .products-content__link--list-cart{

                background-color: #a3bac7;
            }
        }
        &__items{
            display: flex;
            flex-direction: column;
            max-width: 270px;
            max-height: 380px;
            box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
            text-align: center;
            border-radius: 10px;
            &:hover{
                .products-content__link-box{
                transform: translateY(0);
                }
            }
        }
        &__img-box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            overflow: hidden;
            height: 100%;
            padding: 50px 10px 60px;
            
        }
        &__images{
            margin: 0 auto;
            object-fit: cover;
        }
        &__link-box{
            position: absolute;
            left: 14px;
            right: 0;
            bottom: 50px;
            transform: translateY(300%);
            transition: all .3s;
            
            }
            &__link{
                display: inline-block;
                width: 45px;
                height: 45px;
                background-color: #fff;
                border-radius: 50%;
                padding-top: 12px;
                margin-right: 15px;
                transition: all .3s;
                &:hover{
                    background-color: $accent;
                    path{
                        fill: #fff;
                    }
                }
                
                &:last-child{
                    margin-right: 0;
                }
            }
            &__star{
                display: none;
            }
            &__title{
                @extend %dmsans-500;
                font-size: 16px;
                line-height: 40px;
                color: #243f4d;
                
            }
            &__price{
                @extend %dmsans-700;
                font-size: 16px;
                line-height: 40px;
                color: $accent;
                margin-bottom: 30px;
            }
            &__price--list{
                display: none;
            }
            &__text{
                display: none;
            }
            &__link--list{
                display: none;
            }
            &__link-cart{
                display: none;
            }
           
    }
      
   

  


.video{
    margin-bottom: 115px;
    &__inner-popup{
        display: flex;
        justify-content: center;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        padding: 185px 0;
    }
    &__play{
        background-position: center center;
    }
}

.products-best{
      padding: 150px 0 70px;
    .container-top{
        padding: 0;
        background-color: #fff;
    }
    &__inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    &__items{
        position: relative;
        display: flex;
        justify-content: center;
        background-color: #feefe2;
        padding: 0 15px;
        
    }
    &__img{
        position: absolute;
        left: 60px;
        bottom: 70px;
    }
    &__item{
        padding-left: 250px;
        margin: 100px 0;
    }
    &__title{
        @extend %dmsans-700;
        font-size: 26px;
        line-height: 32px;
        color: #243f4d;
    }
    &__text{
        margin: 30px 0;
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        color: #243f4d;
        max-width: 335px;
    }
    .top-slider__link{
        border: 1px solid #b3b7b5;
        background-color: #feefe2;
        color: #436372;
        border-radius: 10px;
    }
    
    .top-slider__link::before{
        background-color: #436372;
      
    }
    .top-slider__link::after{
        border-left: 5px solid #436372;
    }
}
.design{
    .design-top{
        text-align: center;
        &__title{
            @extend %dmsans-700;
            font-size: 36px;
            line-height: 40px;
            color: $title-content;
        }
        &__items{
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }
        &__item{
            margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
        }
        &__link{
            @extend %dmsans-700;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
            color: $link;
            transition:  all .3s;
            
        &:hover{
            color: #1a1a1a;
        }
        }
    }
    .design-content{
        margin: 75px 0 170px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px 30px;
        &__items{
            background-color: #f8f8f8;
        }
        &__text-box{
            position: absolute;
            max-width: 210px;
            padding-top: 40px;
            padding-left: 35px;
        }
        &__title{
            @extend %dmsans-700;
            font-size: 20px;
            line-height: 25px;
            color: #191919;
        }
        &__text{
            @extend %dmsans-700;
            font-size: 16px;
            line-height: 24px;
            color: $accent;
            padding-top: 10px;
        }
    }
}

.articles{
    padding-top: 40px;
    .articles-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__title{
            @extend %dmsans-700;
            font-size: 36px;
            line-height: 40px;
            color: $title-content;
        }
        &__link{
            text-transform: capitalize;
            @extend %dmsans-700;
            font-size: 16px;
            line-height: 20px;
            color: #262626;
            &::after{
                content: '>';
                padding-left: 16px;
            }
        }
    }
    .articles-content-box{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    .articles-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        padding-bottom: 25px;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        border-radius: 5px;
        &__text-info{
            position: absolute;
            left: 30px;
            bottom: 185px;
            display: inline-block;
            text-transform: uppercase;
            background-color: $accent;
            @extend %poppins-700;
            color:#fff;
            font-size: 14px;
            line-height: 20px;
            padding: 10px 30px;
            border-radius: 20px;
        }
        &__text-box{
            max-width: 315px;
            padding-left: 30px;
            padding-top: 35px;
        }
        &__link{
            @extend %dmsans-500;
            font-size: 18px;
            line-height: 25px;
            color: #262626;
            
            
            
        }          
        &__publicate{
            display: flex;
            justify-content: space-evenly;
            @extend %rubik-400;
            font-size: 12px;
            line-height: 30px;
            color: #222933;
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid #e0e0e0;
        }
    }
}
.partners{
    margin:-206px 0 40px;
    z-index: -1;
    padding: 270px 0 90px;
    background-color: #fef7f0;
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.partners-default{
    margin-top: 100px;
    height: 250px;
    padding-top: 84px;
}

.top{
    background-color: #edf1f4;
    margin-bottom: 60px;
    .container-top{
        text-align: center;
        padding: 35px 0 32px;
    }
    .title{
        @extend %rubik-300;
        font-size: 36px;
        line-height: 24px;
    }
}

.modal{
    padding-top: 115px;
    max-width: 470px;
    margin: 0 auto 120px;
    color: #5c7885;
    &__label{
        display: block;
        margin-bottom: 16px;
        font-size: 14px;
        @extend %rubik-400;
    }

    &__input{
        display: block;
        border: 2px solid #f6f6f6;
        width: 100%;
        height: 56px;
        padding: 0 15px;
    }
    &__btn{
        display: block;
        width: 100%;
        border: none;
        background-color: $accent;
        color: #fff;
        text-transform: capitalize;
        font-size: 14px;
        @extend %rubik-500;
        padding: 10px 0;
    }
    &__label-box{
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        padding-bottom: 30px;
        border-bottom: 1px solid #f6f6f6;
    }
    &__text{
        text-align: center;
        display: block;
        margin: 30px 0 20px;
    }
    &__btn-create{
        color: #243f4d;
        background-color: #fff;
        border: 2px solid #a3bbc8;
        text-align: center;
    }
}
.partners-login{
    margin: 0 0 40px;
    z-index: 1;
    padding-top: 80px;
}
.terms{
    padding: 0 0 70px;
    &__title{
        font-size: 24px;
        line-height: 40px;
        @extend %rubik-500;
        padding: 60px 0 28px;
        color: #243f4d;
    }
    ol{
        padding-left: 30px;
        list-style: decimal-leading-zero;
    }
    &__item-text{
        padding-bottom: 28px;
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        color: #243f4d;
    }
}

.about{
    padding: 120px 0 105px;
    .about-top{
        display: flex;
        padding-bottom: 120px;
        &__img{

            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        
        &__items{
            padding-left: 40px;
            margin-top: 80px;
            max-width: 600px;
            position: relative;
        }
        &__item-num{
            list-style: none;
            display: flex;
            flex-direction: column;
            @extend %rubik-400;
            padding-left: 170px;
            padding-bottom: 50px;
        }
        &__item{
            padding-bottom: 60px;
        }
        &__item::before {
            position: absolute;
            content: '12';
            @extend %rubik-700;
            font-size: 140px;
            line-height: 32px;
            color: #a3bbc8;
            top: 20px;
        }
        &__text{
            @extend %rubik-400;
            font-size: 16px;
            line-height: 30px;
            color: #243f4d;
        }
        &__title{
            @extend %dmsans-700;
             font-size: 36px;
             line-height: 32px;
             color: #243f4d;
             padding-bottom: 40px;
         }
         &__content{
             display: flex;
             justify-content: space-around;
             padding-top: 40px;
             width: 530px;
             border-top: 2px solid #e6eaf0;
             position: relative;
         }
         &__content-item:nth-child(1):after{
             content: '';
             width: 1px;
             height: 80px;
             background-color:#e6eaf0 ;
             position:absolute;
             left: 160px;
             top: 30px;
         }
         &__content-item:nth-child(2):after{
            content: '';
            width: 1px;
            height: 80px;
            background-color:#e6eaf0 ;
            position:absolute;
            right: 186px;
            top: 30px;
        }
        &__content-item:nth-child(1):before{
            content:''; 
            position: absolute;
            background-image: url('../images/icons/document.png');
            width: 37px;
            height: 38px;
            left: 0;
            top: 45px;
         }
         &__content-item:nth-child(2):before{
            content:''; 
            position: absolute;
            background-image: url('../images/icons/rupor.png');
            width: 44px;
            height: 40px;
            left: 190px;
            top: 45px;
         }
         &__content-item:nth-child(3):before{
            content:''; 
            position: absolute;
            background-image: url('../images/icons/medal.png');
            width: 43px;
            height: 42px;
            right: 125px;
            top: 45px;
         }

         &__content-title{
             @extend %dmsans-700;
             font-size: 36px;
             line-height: 38px;
             color: #243f4d;
         }      
         &__content-text{
             @extend %dmsans-700;
             font-size: 16px;
             line-height: 17px;
             color: #243f4d;
         }  
    }
}

.about-info{
    background-color: #fcd7b6;
}
.about-content{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    &__item{
        position: relative;
        text-align: center;
        padding: 60px 0;
    }
    &__item::after{
        content:'';
        position: absolute;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background-color: #a3bbc8;
        right: 50px;
        top: 85px;
        opacity: .9;
    }
    &__item:nth-child(2)::after{
        top: 78px;
        right: 42px;
    }
    &__item:nth-child(3)::after{
        top: 92px;
        right: 42px;
    }
    &__item:nth-child(4)::after{
        top: 92px;
        right: 30px;
    }
    &__item-subtitle{
        padding: 15px 0;
        font-size: 36px;
        @extend %dmsans-700;
        line-height: 32px;
        color: #243f4d;
    }
    &__item-text{
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 32px;
        color: #243f4d;
    }
}

.about-team{
    padding-top: 120px;
    &__inner{
        display: flex;
    }
    &__items{
        max-width: 400px;
    }
    &__subtitle{
        @extend %dmsans-700;
        font-size: 36px;
        line-height: 32px;
        color: #243f4d;
    }
    &__text{
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        color: #243f4d;
        padding: 30px 94px 40px 0;
    }
    &__link{
        background-color: #a3bbc8;
        color: #fff;
        padding: 15px 60px 15px 20px;
        border-radius: 10px;
        position: relative;
    }
    &__link::before{
        content: ' ';
    position: absolute;
    border: none;
    height: 1px;
    width: 17px;
    left: 120px;
    top: 24px;
    background-color: #fff;
    }
    &__link::after{
        content: '';
        position: absolute;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 5px solid #fff;
        left: 136px;
        top: 20px;
    }
    &__item{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 105px 30px;
        
    }
    &__item-info{
        position: relative;
        
    }
    &__item-box{
        display: flex;
        align-items: center;
        position: absolute;
        background-color: #fff;
        bottom: -60px;
        width: 326px;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    }
    &__item-name{
        padding-right: 30px;
    }
    &__subtitle-box{
        padding: 25px 25px 0;
        color: $title;
        @extend %dmsans-700;
        font-size: 22px;
        line-height: 26px;
    }
    &__text-box{
        color:#565872;
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        padding: 5px 25px 25px;
    }
    &__item-social{
        display: contents;
    }
    &__item-link{
        margin-right: 8px;
    }
}

.productlist{
    padding-top: 60px;
    &__inner{
        display: flex;
        padding-bottom: 107px;
    }
}

.filter{
    &__item{
    }
    &__title{
        @extend %dmsans-700;
        color: #243f4d;
        font-size: 18px;
        text-transform: uppercase;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-color: #a3bbc8;
            height: 3px;
            width: 38px;
            top: 14px;
            right: 116px;
        }
    }
}

.filter-category{
    &__form{
        padding: 10px 0 50px;
    }
    &__label{
        display: flex;
        justify-content: space-between;
        
        
        align-items: center;
    }
    &__input{
        order: 1;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        position: absolute;
        &:checked + .filter-category__checkbox{
            background-color: #edf1f4;
        }
    }
    &__checkbox{
        @extend %rubik-400;
        font-size: 16px;
        line-height: 43px;
        color: #243f4d;
        padding: 0 22px 0 15px;
        width: 270px;
        border-radius: 10px;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 5px;
            height: 10px;
            background-image: url('../images/icons/arrow-right.svg');
            top: 15px;
            right: 22px;
        }
    }
}

.irs--flat .irs-max{
    display: none;
}

.irs--flat .irs-line{
    height: 2px;
    background-color: #c2d2db;
    top: 26px;
}

.irs--flat .irs-bar{
    height: 4px;
    background-color: #a3bbc8;
}

.irs--flat .irs-from{
    display: none;
}

.irs--flat .irs-to{
    display: none;
}

.irs--flat .irs-handle.state_hover{
    i:first-child{
        background-color: #a3bbc8;
    }
}
.irs--flat .irs-single{
    display: none;
}

.irs--flat .irs-handle{
        width: 0;
        height: 0;
    i:first-child{
        width: 15px;
        height: 15px;
        background-color: #a3bbc8;
        top: -2px;
        &:hover{
            background-color: #a3bbc8;
        }
    }
    i:last-child{
        background-color: #a3bbc8;
    }
}

.filter-price{
    &__label{
        display: flex;
        justify-content: space-between;
        padding-right: 6px;
    }
    &__text{
        @extend %rubik-400;
        font-size: 14px;
        line-height: 43px;
        color: #243f4d;
    }

}

.brand__filter{
    padding-top: 80px;
}
.filter-brand{
    &__form{
        padding-top: 20px;
    }
    &__label{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__input{
        order: 1;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        position: absolute;
        &:checked + .filter-brand__checkbox{
            background-color: #edf1f4;
            color: #243f4d;
        }
    }
    &__checkbox{
        @extend %rubik-400;
        font-size: 16px;
        line-height: 43px;
        color: #b3b3b3;
        padding: 0 22px 0 15px;
        width: 270px;
        border-radius: 10px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
}

.recent{
    &__filter{
    padding-top: 60px;
    }
    &__title{
        &::after{
            right: 45px;
        }
    }
    &__inner{
        padding-top: 30px;
    }
    &__item{
        display: flex;
    }
    &__img{
        border: 3px solid #f2f2f2;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        object-fit: contain;
        width: 65px;
        height: 65px;
    }
    &__box{
        padding-left: 20px;
        padding-bottom: 22px;

    }
    &__subtitle{
        @extend %rubik-400;
        font-size: 14px;
        line-height: 16px;
        color: #333333;
    }
    &__star{
        padding: 10px 0 5px;
    }
    &__price{
        @extend %rubik-400;
        font-size: 15px;
        line-height: 27px;
        color: #333333;
    }
}


@import 'media';
  