@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.container-top{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    padding: 50px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 35px;
    }
    &__list-link{
        color: $title;
        text-transform: capitalize;
        @extend %rubik-500;
    }
}

.user-nav{
    position: relative;
    display: flex;
    align-items: center;
    &::after{
        content:' ';
        position: absolute;
        background-color: #edf1f4;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        z-index: -10;
        left: -17px;
        margin-right: 50px;
    }
    &__cart{
        display: flex;
        background-color: #fcd7b6;
        width: 180px;
        height: 50px;
        border-radius: 30px;
    }
    &__link{
        position: relative;
    }
    &__link:nth-child(1){
        margin-right:40px ;
    }
    &__cart::before{
        content:' ';
        width: 2px;
        height: 33px;
        background-color: #fde7d3;
        position: absolute;
        left: 142px;
        top: 8px;

    }
    &__link{
        margin: 0 auto;
    }
    &__num{
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: #fff;
        border-radius: 50%;
        top: 8px;
        left: 12px;
        text-align: center;
        font-size: 10px;
        line-height: 16px;
    }
    &__link-btn{
        background-color: #a3bbc8;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 30px;
    }
    &__link-img{
        margin: 15px auto;
    }
}


.footer-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dae4e9;
    padding: 25px 0 70px;
    &__contact{
        max-width: 190px;
        color:$default;
    }
    &__services{
        max-width: 220px;
    }
    &__logo{
        display: block;
        margin-bottom: 25px;
    }
    &__title{
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 21px;
        color: #1f2044;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    &__link{
        text-transform: capitalize;
        color: $default;
        
    }
    &__item-form{
        max-width: 285px;
        line-height: 24px;
    }
    &__text{
        margin-bottom: 40px;
    }
    &__form-input{
        border: none;
        background-color: #fef7f0;
        padding: 5px 5px;
    &::placeholder{
        color: #5d778d;
        @extend %dmsans-400;
        font-size: 12px;
        line-height: 24px;
        padding-left: 15px;
        text-transform: capitalize;
        }
    }
    &__form-btn{
        background-color:$accent;
        color: #fff;
        border: none;
        text-transform: capitalize;
        @extend %dmsans-400;
        font-size: 12px;
        line-height: 24px;
        width: 100px;
        padding: 5px 0;
    }
}
.footer-bottom{
    display:flex;
    padding-top: 30px;
    justify-content: space-between;
    &__link{
        position: relative;
        color: $default;
        text-transform: capitalize;
        margin: 0 15px;
    }
    &__link::after{
        position: absolute;
        content:'|';
        pointer-events: none;
        right: -20px;
        
    }
}

.top-slider{
    .container-top{
        background-color: #fcd7b6;
    }
    &__item{
        padding-top: 80px;
        display: flex !important;
        justify-content: space-between;
    }
    &__content{
        padding-top: 125px;
        padding-left: 280px;
    }
    &__title{
        @extend %rubik-500;
        font-size: 72px;
        line-height: 70px;
        text-transform: uppercase;
        color: #243f4d;
        padding-bottom: 20px;
        max-width: 450px;
    }
    &__text{
        @extend %rubik-400;
        font-size: 18px;
        line-height: 30px;
        color: #747e81;
        max-width: 380px;
        margin-bottom: 50px;
    }
    &__link{
        text-transform: capitalize;
        color: #fff;
        background-color: $accent;
        font-size: 15px;
        line-height: 12px;
        padding: 15px 100px 15px 22px;
        position: relative;
    }
    &__link::after{
        content: '';
        position: absolute;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 5px solid #fff;
        left: 170px;
        top: 21px;
        
    }
    &__link::before{
        content:' ';
        position: absolute;
        border: none;
        height: 2px;
        width: 17px;
        left: 154px;
        top: 24px;
        background-color: #fff; 
    }
    .slick-slide img{
        margin-right: 170px;
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        padding-bottom: 45px;
    li{
        padding: 0 5px;
        line-height: 8px;
        font-size: 10px;
        @extend %rubik-400;
        color: #243f4d;

        button{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: #fde3cc;
        }
        &.slick-active{
            button{
            background-color: #fff;
            }
        }
    }
    }
}
.categories-info{
    .container-top{
        background-color: #fef7f0;
    }

.info{
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    &__items{
        display: flex;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    &__items:nth-child(1){
        padding-left: 140px;
    }
    
    &__items:nth-child(2){
        padding-left: 160px;
        border-left: 1px solid #e8e4df;
        border-right: 1px solid #e8e4df;
    }
    &__items:nth-child(3){
        padding-left: 150px;
    }
    &__item-title{
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 40px;
        color: #414141;
        text-transform: capitalize;
    }
    &__item-text{
        @extend %dmsans-400;
        font-size: 16px;
        line-height: 30px;
        color: #676665;
    }
    }
    
}

.products{
    margin-top: 70px;
    .products-top{
        text-align: center;
        padding-bottom: 75px;
        &__title{
            @extend %dmsans-700;
            font-size: 36px;
            line-height: 40px;
            color: $title-content;
        }
        &__items{
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }
        &__item{
            margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
        }
        &__link{
            @extend %dmsans-700;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
            color: $link;
            transition:  all .3s;
            
        &:hover{
            color: #1a1a1a;
        }
        }

    }
    .products-content{
        padding-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 20px;
        &__items{
            display: flex;
            flex-direction: column;
            max-width: 270px;
            max-height: 380px;
            box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
            text-align: center;
            border-radius: 10px;
            &:hover{
                .products-content__link-box{
                transform: translateY(0);
                }
            }
        }
        &__img-box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            overflow: hidden;
            height: 100%;
            padding-top: 50px;
            padding-bottom: 60px;
            
        }
        &__images{
            margin: 0 auto;
            object-fit: cover;
        }
        &__link-box{
            position: absolute;
            left: 14px;
            right: 0;
            bottom: 50px;
            transform: translateY(300%);
            transition: all .3s;
            
            }
            &__link{
                display: inline-block;
                width: 45px;
                height: 45px;
                background-color: #fff;
                border-radius: 50%;
                padding-top: 12px;
                margin-right: 15px;
                transition: all .3s;
                &:hover{
                    background-color: $accent;
                    path{
                        fill: #fff;
                    }
                }
                
                &:last-child{
                    margin-right: 0;
                }
            }
            &__title{
                @extend %dmsans-500;
                font-size: 16px;
                line-height: 40px;
                color: #243f4d;
                
            }
            &__price{
                @extend %dmsans-700;
                font-size: 16px;
                line-height: 40px;
                color: $accent;
                margin-bottom: 30px;
            }
           
        }
        
    }

  


.video{
    margin-bottom: 115px;
    &__inner-popup{
        display: flex;
        justify-content: center;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        padding: 185px 0;
    }
    &__play{
        background-position: center center;
    }
}

.products-best{
      padding: 150px 0 70px;
    .container-top{
        padding: 0;
        background-color: #fff;
    }
    &__inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    &__items{
        position: relative;
        display: flex;
        justify-content: center;
        background-color: #feefe2;
        padding: 0 15px;
        
    }
    &__img{
        position: absolute;
        left: 60px;
        bottom: 70px;
    }
    &__item{
        padding-left: 250px;
        margin: 100px 0;
    }
    &__title{
        @extend %dmsans-700;
        font-size: 26px;
        line-height: 32px;
        color: #243f4d;
    }
    &__text{
        margin: 30px 0;
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        color: #243f4d;
        max-width: 335px;
    }
    .top-slider__link{
        border: 1px solid #b3b7b5;
        background-color: #feefe2;
        color: #436372;
        border-radius: 10px;
    }
    
    .top-slider__link::before{
        background-color: #436372;
      
    }
    .top-slider__link::after{
        border-left: 5px solid #436372;
    }
}
.design{
    .design-top{
        text-align: center;
        &__title{
            @extend %dmsans-700;
            font-size: 36px;
            line-height: 40px;
            color: $title-content;
        }
        &__items{
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }
        &__item{
            margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
        }
        &__link{
            @extend %dmsans-700;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
            color: $link;
            transition:  all .3s;
            
        &:hover{
            color: #1a1a1a;
        }
        }
    }
    .design-content{
        margin: 75px 0 170px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px 30px;
        &__items{
            background-color: #f8f8f8;
        }
        &__text-box{
            position: absolute;
            max-width: 210px;
            padding-top: 40px;
            padding-left: 35px;
        }
        &__title{
            @extend %dmsans-700;
            font-size: 20px;
            line-height: 25px;
            color: #191919;
        }
        &__text{
            @extend %dmsans-700;
            font-size: 16px;
            line-height: 24px;
            color: $accent;
            padding-top: 10px;
        }
    }
}

.articles{
    padding-top: 40px;
    .articles-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__title{
            @extend %dmsans-700;
            font-size: 36px;
            line-height: 40px;
            color: $title-content;
        }
        &__link{
            text-transform: capitalize;
            @extend %dmsans-700;
            font-size: 16px;
            line-height: 20px;
            color: #262626;
            &::after{
                content: '>';
                padding-left: 16px;
            }
        }
    }
    .articles-content-box{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    .articles-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        padding-bottom: 25px;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        border-radius: 5px;
        &__text-info{
            position: absolute;
            left: 30px;
            bottom: 185px;
            display: inline-block;
            text-transform: uppercase;
            background-color: $accent;
            @extend %poppins-700;
            color:#fff;
            font-size: 14px;
            line-height: 20px;
            padding: 10px 30px;
            border-radius: 20px;
        }
        &__text-box{
            max-width: 315px;
            padding-left: 30px;
            padding-top: 35px;
        }
        &__link{
            @extend %dmsans-500;
            font-size: 18px;
            line-height: 25px;
            color: #262626;
            
            
            
        }          
        &__publicate{
            display: flex;
            justify-content: space-evenly;
            @extend %rubik-400;
            font-size: 12px;
            line-height: 30px;
            color: #222933;
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid #e0e0e0;
        }
    }
}
.partners{
    margin:-206px 0 40px;
    z-index: -1;
    padding: 270px 0 90px;
    background-color: #fef7f0;
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.top{
    .container-top{
        text-align: center;
        background-color: #edf1f4;
        padding: 35px 0 32px;
    }
    .title{
        @extend %rubik-300;
        font-size: 36px;
        line-height: 24px;
    }
}

.modal{
    padding-top: 115px;
    max-width: 470px;
    margin: 0 auto 120px;
    color: #5c7885;
    &__label{
        display: block;
        margin-bottom: 16px;
        font-size: 14px;
        @extend %rubik-400;
    }

    &__input{
        display: block;
        border: 2px solid #f6f6f6;
        width: 100%;
        height: 56px;
        padding: 0 15px;
    }
    &__btn{
        display: block;
        width: 100%;
        border: none;
        background-color: $accent;
        color: #fff;
        text-transform: capitalize;
        font-size: 14px;
        @extend %rubik-500;
        padding: 10px 0;
    }
    &__label-box{
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        padding-bottom: 30px;
        border-bottom: 1px solid #f6f6f6;
    }
    &__text{
        text-align: center;
        display: block;
        margin: 30px 0 20px;
    }
    &__btn-create{
        color: #243f4d;
        background-color: #fff;
        border: 2px solid #a3bbc8;
        text-align: center;
    }
}
.partners-login{
    margin: 0 0 40px;
    z-index: 1;
    padding-top: 80px;
}
.terms{
    padding: 60px 0 70px;
    &__title{
        font-size: 24px;
        line-height: 40px;
        @extend %rubik-500;
        padding: 60px 0 28px;
        color: #243f4d;
    }
    ol{
        padding-left: 30px;
        list-style: decimal-leading-zero;
    }
    &__item-text{
        padding-bottom: 28px;
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        color: #243f4d;
    }
}


@import 'media';